@model HerbalDrugstore.Models.Herb
@{
    ViewData["Title"] = "AddHerb";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js" async defer></script>
    <link rel="stylesheet" href="/JavaScript-autoComplete-master/auto-complete.css">
    <script src="/JavaScript-autoComplete-master/auto-complete.min.js"></script>
</head>

<div class="cont">
    <h2>Add new herb </h2>
    <form asp-action="AddHerb">
        <div class="form-horizontal">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Name" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Species" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Species" id="hero-demo" name="q" class="form-control" />
                    <span asp-validation-for="Species" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" style="width: 100%" />
                </div>
            </div>
        </div>
    </form>

<div style="text-align: center;">
    <a asp-action="HerbsList">Back to List</a>
</div>
    </div>
    <script>
        var demo1 = new autoComplete({
            selector: '#hero-demo',
            minChars: 1,
            source: function (term, suggest) {
                term = term.toLowerCase();
                var choices = ['Archaeopteridaceae', 'Cordaitaceae', 'Cycadaceae', 'Drepanophycaceae', 'Ephedraceae', 'Ginkgoaceae', 'Gnetaceae', 'Hookeriaceae', 'Huperziaceae', 'Lycopodiaceae', 'Stangeriaceae', 'Welwitschiaceae', 'Zamiaceae'];
                var suggestions = [];
                for (i = 0; i < choices.length; i++)
                    if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
                suggest(suggestions);
            }
        });

    </script>
    <!--section Scripts {
        {await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }-->
    <style>
        h2 {
            padding: 30px;
            text-align: center;
        }

        form {
            margin: auto;
            margin-left: 300px;
        }

        .cont {
            margin-left: 120px;
        }
             h1, p, h2, h3, h4, label {
         color: white;
     }
             input, textarea {
                 margin-left: 45px;
             }
    </style>
