@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IEnumerable<Supplier>
@{
    ViewData["Title"] = "AddSupply";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Add Supply</h2>
<div class="cont">
    <h3>Step 1. Choose supplier.</h3>
    <form asp-action="AddSupplyStep2">
        <div class="form-horizontal">
            <select class="form-control" name="supplierId">
                @foreach (var item in Model)
            {
                    <option value="@item.SupplierId">@item.CompanyName</option>
                }
            </select>
            <br />
            <input type="submit" class="btn btn-success" value="Next" style="width:100%" />
        </div>
    </form>
    <br />
    <div>
        <a asp-action="SuppliesList">Back to List</a>
    </div>
</div>
<style>
    h1, p, h2, h3 {
        color: white;
    }

    .cont {
        margin-left: 450px;
    }
</style>