@model HerbalDrugstore.Models.Supplier
@{
    ViewData["Title"] = "EditSupplier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Edit supplier</h2>
<br />
<div class="cont">
    <form asp-action="ApplyEditSupplier">
        <div class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SupplierId" />
            <div class="form-group">
                <label asp-for="CompanyName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="CompanyName" class="form-control" />
                    <span asp-validation-for="CompanyName" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ContactName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ContactName" class="form-control" />
                    <span asp-validation-for="ContactName" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Country" class="form-control" />
                    <span asp-validation-for="Country" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <div class=" col-md-10">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </div>
        </div>
    </form>
</div>
<div style="margin-left: 540px;">
    <a asp-action="SuppliersList">Back to List</a>
</div>
<style>
    h1, h2, p, label {
        color: white;
    }

    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
        margin-right: 60px;
    }

    .btn {
        width: 100%;
        margin-right: 30px;
    }

    .cont {
        margin-left: 470px;
    }
</style>