@{
    ViewData["Title"] = "Submit order";
}

<h1>Your order submited!</h1>
<h1>Check you <a asp-action="DrugsList">drugs list </a></h1>

<style>
    h1 {
        color: white;
        text-align: center;
        padding-top: 30px;
    }
</style>